<header>
        <nav>
            <a href="">ARGENTINA</a>
            <a href="">CEDOC</a>
            <a href="">RED INFoD</a>
            <a href="">MAPA</a>
            <a href="">VIDEOTUTORIALES</a>
        </nav>
</header>